body {
    margin: 0 15% 0 15%;
    background-image: url(../../../media/imgs/beekeeping.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


header {
    text-align: center;
}

header > h2 {
    font-style: italic;
}

div.outer {
    border: 4px solid black;
    background-color: rgba(255, 255, 150, 0.6);
}

div.click {
    border-bottom: 4px solid black;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.store {
    display: flex;
}

div.store-title {
    text-align: center;
    border-bottom: 4px solid black;
    color: black;
    font-size: 20px;
}

div.buildings,
div.upgrades {
    display: flex;
    flex-direction: column;
    flex: 60%;
    height: 60vh;
    overflow: auto;
}

div.buildings {
    border-right: 4px solid black;
}

.button {
    border-bottom: 1px solid black;
    padding: 14px 28px;
    font-style: 1.25em;
    cursor: pointer;
    text-align: left;
    background-color: #FDFD96;
}

.button:disabled:hover {
    cursor: not-allowed;
}